@model IEnumerable<GetProductsModel>

<div class="row">
    @foreach (var item in Model)
    {
        
            <div class="card col-md-4 col-sm-6 m-3" style="width: 10rem;">
                <div class="text-center shadow-lg">@item.displayName</div>
                <img src="@item.images[0].imageName" class="card-img-top img-fluid img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title text-center shadow">@item.category</h5>
                    <p class="card-text text-center">@item.price.ToString("c2")</p>
                    <div class="btn-group d-flex">
                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.id" asp-area="" class="btn btn-info"><i class="fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
        
    }

</div>






